body{
  margin:0;
}
#app{
  font-family: 'Cyberverse', 'Roboto', 'Gianpiero1', 'Gianpiero4', sans-serif;	
  min-width:380px;
  min-height: 100%;
  padding:20px;
  color:white;
  background: #0B1217;
}
#app button{
  font-family: 'Cyberverse', 'Roboto', 'Gianpiero1', 'Gianpiero4', sans-serif;	
}
/*
#app:before{
	content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/bitcoin.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
*/
#app-name{
  font-weight:400;
}

#scrollDiv{
  width:100%;
  height:100%;
  overflow-y:auto;
  padding-right:15px;
  position:relative;
}
#addLinkWrapper{
  display:flex;
  justify-content:center;
  width:100%;
}
#addLink{
  width: 100%;
  height:60px;
  border-radius: 8px;
  background-color: #142028;
  border: 2px solid #142028;
  color: white;
  cursor:pointer;
}
#addLink:hover{
  background:white;
  color:black;
}
#official-links{
  letter-spacing:0.5px;
  background: #142028;
  max-height:235px;
  border-radius:8px;
  color:white;
  margin-bottom:10px;
  padding:20px;
  overflow-y:scroll;
}
.links a{
  color: white;
  font-weight:200;
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.removeButton{
  height:80%;
  border-radius: 3px;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
  cursor: pointer;
}
.removeButton:hover{
  background-color: white;
}
.feeWrapper{
  display:flex;
  justify-content: center;
  gap: 10px;
}
.feeBox{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.baseText{
  font-size:16px;
}
.numText{
  font-size:20px;
}
svg {
  position: absolute;
  top: -4000px;
  left: -4000px; 
}

.gooey-button {
  width:100%;
  height:100%;
  border: none;
  border-radius:8px;
  color:white;
  filter: url("#gooey");
  position: relative;
}
#recommendedGas{
  background-color: #142028;
}
#currentGas{
  background-color: #142028;
}
.buttonText{
  padding:5px;
  font-size:16px;
}
.buttonFee{
  padding:5px;
  font-size:26px;
}
.gooey-button:focus {
  outline: none; 
}

