#app{
  min-width:380px;
  padding:20px;
}

#scrollDiv{
  width:100%;
  height:100%;
  overflow-y:auto;
  padding-right:15px;
  position:relative;
}
#addLinkWrapper{
  display:flex;
  justify-content:center;
  width:100%;
}
#addLink{
  width: 100%;
  height:60px;
  font-size:28px
  border-radius: 16px;
  background-color: #008CBA;
  border: 2px solid #008CBA;
  color: white;
  cursor:pointer;
}
#addLink:hover{
  background:white;
  color:black;
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.removeButton{
  height:80%;
  border-radius: 3px;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
  cursor: pointer;
}
.removeButton:hover{
  background-color: white;
}

